.inf-content {
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

th {
	font-size: 14px;
}

td {
	font-size: 14px;
}

.image_user {
	display: block;
	max-width: 100%;
	width: 50px;
	height: 50px;
	height: auto;
	object-fit: cover;
}

.imprimer {
	display: block;
	max-width: 100%;
	width: 30px;
	height: 30px;
	height: auto;
}

.profile-avatar {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: -2px;
	@media
	(
	max-width
	:
	@screen-xs-max)
{
	float
	
	
	:
	
	 
	
	none
	
	
	;
	margin-right
	
	
	:
	
	 
	
	0;
	margin-top
	
	
	:
	
	 
	
	-8
	px
	
	
	;
	line-height
	
	
	:
	
	 
	
	10
	px
	
	
	;
}

}
.profile {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: -2px;
	@media
	(
	max-width
	:
	@screen-xs-max)
{
	float
	
	
	:
	
	 
	
	none
	
	
	;
	margin-right
	
	
	:
	
	 
	
	0;
	margin-top
	
	
	:
	
	 
	
	-8
	px
	
	
	;
	line-height
	
	
	:
	
	 
	
	10
	px
	
	
	;
}

}

/* profile css */
.user-row {
	margin-bottom: 14px;
}

.user-row:last-child {
	margin-bottom: 0;
}

.dropdown-user {
	margin: 13px 0;
	padding: 5px;
	height: 100%;
}

.dropdown-user:hover {
	cursor: pointer;
}

.table-user-information>tbody>tr {
	border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
	border-top: 0;
}

.table-user-information>tbody>tr>td {
	border-top: 0;
}

.toppad {
	margin-top: 20px;
}
/*    hover effect */

/* .grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
} */

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.edit {
	text-decoration: none;
}

.modal-header {
	padding: 9px 15px;
	color: white;
	border-bottom: 1px solid #eee;
	background-color: #0480be;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: 1;
}

fieldset {
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding-left: 10px !important;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	width: 35%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 5px 5px 10px;
	background-color: #ffffff;
}

.sandbox-form label, .sandbox-form span {
	display: inline-block;
	margin: .5em .5em;
	vertical-align: middle;
}
.msg[title]:after{
	content: attr(title);
	position: absolute;
	background: #d9534f;
	color:white;
	padding:1px;
	padding-left:3px;
	font-family:sans-serif;
	width: 15px;
	height: 15px;
	top: -10px;
	right:-10px;
	border-radius: 50%;
	box-shadow: 0 0 1px #33333 
}
.notif[title]:after{
	content: attr(title);
	position: absolute;
	background: #d9534f;
	color:white;
	padding:1px;
	padding-left:3px;
	font-family:sans-serif;
	width: 15px;
	height: 15px;
	top: -10px;
	right:-10px;
	border-radius: 50%;
	box-shadow: 0 0 1px #33333 
}